<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styleAdd.css">
    <title>Přidat zavodníka</title>
</head>
<body>
    <div class="header">
        <h1>Vlož závodníka</h1>
    </div>
    <div class="back"><a href="/">zpátky</a></div>
    <form method="POST">
    <div class="form">
        {{ form.hidden_tag() }}
        <div>{{ form.jmeno.label }} {{ form.jmeno }}</div>
        <div>{{ form.prijmeni.label }} {{ form.prijmeni }}</div>
        <div>{{ form.cislo.label }} {{ form.cislo }}</div>
        <div>{{ form.cas.label }} {{ form.cas(step="1") }}</div>
        <div>{{ form.poznamka.label }} {{ form.poznamka }}</div>
        <input type="submit" value="Vlož">
    </div>
    </form>
</body>
</html>