@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap');

:root{
    --bgColor: #39304A;
    --headerColor: #202030;
    --hover: #4f4365;
}

body{
    background-color: var(--bgColor);
    font-family: 'Comfortaa', cursive;
    margin: 0;
}

.header{
    background-color: var(--headerColor);
    text-align: center;
    padding: .5rem;
    color: #c5c5c5;
    font-size: 1rem;
}

.add{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 1rem;
}

.add a{
    text-decoration: none;
    color: #c5c5c5;
    font-size: 1rem;
    background-color: var(--headerColor);
    border-radius: 1rem;
    padding: .5rem 1rem;
    cursor: pointer;
}

.back{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 1rem;
}

.back a{
    text-decoration: none;
    color: #c5c5c5;
    font-size: 1rem;
    background-color: var(--headerColor);
    border-radius: 1rem;
    padding: .5rem 1rem;
    cursor: pointer;
}

.lastname{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 1rem;
}

.lastname a{
    text-decoration: none;
    color: #c5c5c5;
    font-size: 1rem;
    background-color: var(--headerColor);
    border-radius: 1rem;
    padding: .5rem 1rem;
    cursor: pointer;
}

.time{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 1rem;
}

.time a{
    text-decoration: none;
    color: #c5c5c5;
    font-size: 1rem;
    background-color: var(--headerColor);
    border-radius: 1rem;
    padding: .5rem 1rem;
    cursor: pointer;
}

.time a:hover{
    transition: 500ms;
    background-color: var(--hover);
}

.back a:hover{
    transition: 500ms;
    background-color: var(--hover);
}

.lastname a:hover{
    transition: 500ms;
    background-color: var(--hover);
}

.add a:hover{
    transition: 500ms;
    background-color: var(--hover);
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

table, th, td{
    background-color: #2c2438;
    width: 50%;
    border: 2px solid #0f0f17;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    color: #c5c5c5;
    padding: .5rem;
}

.dell{
    color: #7c699e;
}

.dell:hover{
    transition: 500ms;
    color: var(--hover);
}