<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://unpkg.com/htmx.org@1.7.0" integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo" crossorigin="anonymous" defer></script>
    <script src="https://kit.fontawesome.com/71a1d8985d.js" crossorigin="anonymous"></script>
    <title>chat</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Pošli zprávu</h1>
    <form method="POST">
    <div class="middle">
        {{ form.hidden_tag() }}
        {% if session['prezdivka'] %}
            <div hidden>{{ form.jmeno.label }} {{ form.jmeno(value=session['prezdivka'],readonly=True) }}</div>
            <p>{{session['prezdivka']}} píše....</p>
        {% else %}
            <div>{{ form.jmeno.label }} {{ form.jmeno }}</div>
        {% endif %}
            <div>{{ form.zprava.label }} {{ form.zprava }}</div>
        <div class="buttonPossition">
            <p><a href="/odhlasit">odhlásit</a></p>
        </div>
        <input type="submit" value="Pošli">
        <div class="messages" hx-get="/zpravy" hx-trigger="every .5s">
            <div class="messcenter">
                {% for mess in zpravy %}
                    <div class="message"> {{ mess[0] }}: {{ mess[1] }} <a href="/odstranit/{{ mess[2] }}"><i class="fa-solid fa-trash-can"></i></a></div>
                {% endfor %}
            </div>
        </div>
    </div>
    </form>
</body>
</html>