@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap');

:root{
    --bgColor: #39304A;
    --headerColor: #202030;
    --hover: #4f4365;
}


body{
    background-color: var(--bgColor);
    font-family: 'Comfortaa', cursive;
    margin: 0;
}

.header{
    background-color: var(--headerColor);
    text-align: center;
    padding: .5rem;
    color: #c5c5c5;
    font-size: 1rem;
}

.back{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 1rem;
}

.back a{
    text-decoration: none;
    color: #c5c5c5;
    font-size: 1rem;
    background-color: var(--headerColor);
    border-radius: 1rem;
    padding: .5rem 1rem;
    cursor: pointer;
}

.back a:hover{
    transition: 500ms;
    background-color: var(--hover);
}

.form{
    color: #c5c5c5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form div{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.3rem;
}

.form input{
    background-color: #4c4163;
    border-radius: .6rem;
    padding: .3rem;
    margin: .4rem;
    color: #c5c5c5;
    font-size: 1rem;
}

input[type=submit]{
    color: #c5c5c5;
    font-size: 1rem;
    background-color: var(--headerColor);
    border-radius: 1rem;
    padding: .7rem 1rem;
    cursor: pointer;
}

input[type=submit]:hover{
    transition: 500ms;
    background-color: var(--hover);
}